<h1>Create A Wardrobe</h1>

<form action="/wardrobes/new" method="POST">
Wardrobe Name: <input type="text" name="name"><br><br>

<h1>Create Categories for Your Wardrobe</h1>
<% 7.times do %>
Category Name: <input type="text" name="category[name][]"><br><br>
<% end %><br>
<input type="submit" value="Create">
<% if flash.has?(:message) %>
<h5><%=flash[:message]%></h5>
<% end %>
</form>

<a href="/wardrobes">Back to Wardrobes</a><br>
<a href="/users/<%=current_user.slug%>">Back to Profile</a><br>
<a href="/logout">Log Out</a>
