<h1>Log In Page</h1>

<form action="/login" method="POST">
Username: <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
<input type="submit" value="Log In"><br>
</form>
<a href="/">Return Home</a>
