
<h1>Wardrobe Organizer</h1>
<% if !logged_in? %>
  <a href="/signup">Sign Up</a><br><br>
  <a href="/login">Log In</a>
<% elsif logged_in? %>
  <a href="/users/<%=current_user.slug%>">View Wardrobes</a><br>
  <a href="/logout">Log Out</a>
<% end%>
<% if flash.has?(:message) %>
<h5><%=flash[:message]%></h5>
<% end %>
